/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
}

/* navigation bar logo and image */

#logo{
    margin: 0px 0px;

}

#logo img{

    height: 50px;
    margin: 25px 25px;
    border-radius: 33px;
    
}
/* navigation bar list styling */
#navbar{
    position: relative;
    top: 0px;
}
#navbar ul{
    display: flex;
    font-family:  serif;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}


#navbar ul li{
 
    list-style: none;
    font-size: 1.3rem;

}
#navbar ul li a{
    color: white;
   display: block;
   padding:  3px 22px;
   border-radius: 20px;
   text-decoration: none;

}
#navbar ul li a:hover{
    color:black;
    background-color: white;

}

/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    height: 460px;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url('../images/bg.jpg')no-repeat center center/cover;
    height: 76%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
   
}
#home h1{
    color: #fff;
    text-align: center;
    font-family: Lucida Fax;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: Lucida Fax;
}
/* services section */
#services{
    margin: 34px;
    display:flex ;

}
#services .box{


    border: 4px solid brown; 
    padding: 34px;
    margin: 2px 10px;
    border-radius: 23px;
    background-color: beige;
    margin-bottom: 25px;

}
#services .box img{
    height: 165px; 
    display: block;
    margin: auto;
    border-radius: 75px;

}
#services .box p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* client section */
#client-section{
    position: relative;
    /* height: 300px; */
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../images/backgrournd.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;

}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;

}
#clients img{
    width: 66px;
    height: auto;
}

#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width:100% ;
    height: 100%;
    z-index:-1;
    opacity: 0.7;
    background: url(../images/contact.jpg) no-repeat center center/cover;
    
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
footer{
    background: black;
    color: #fff;
    padding: 9px 20px;
}
/* Utility classes */
.h-primary{
    font-size: 3.2rem;
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h-secondary{
    font-size: 2.2rem;
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px ;
    font-size: 1.5rem;
    
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}





